body{
    background-image: url("/assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
p{
    font-size: 25px;
    color: black;
}
.pokemon-logo{
    text-align: center;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    height: 52px;
    text-overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-copyright{
    font-size: medium;
    padding-right: 10vw;
}
.my-github{
    padding: 20vw;
}
.nintendo-copyright{
    font-size: small;
    width: 250px;
    padding-left: 10vw;
}
.pokemon-choices{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
}
.pokemon-choices *{
    background-color: lightslategrey;
    border-radius: 50px;
    margin: 20px;
    border-style: solid;
    border-color: dodgerblue;
}
.pokemon-choices *:hover{
    cursor: pointer;
    background-color: steelblue;
    box-shadow: 0 0 5em steelblue;
}
.pick-window{
    display: flex;
}
.your-pick{
    padding: 10px;
    position: absolute;
    top: 30vh;
    left: 10vw;
}
.their-pick{
    padding: 10px;
    position: absolute;
    top: 30vh;
    right: 10vw;
}
.pick-header{
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    -webkit-text-stroke: 2px black;
}
.small-icons-left{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 42vh;
    left: 17vh;
}
.small-icons-left *{
    margin: 8px;
    background-color: white;
    border-radius: 30px;
}
.small-icons-right{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 42vh;
    right: 9vw;
}
.small-icons-right *{
    margin: 8px;
    background-color: white;
    border-radius: 30px;
}