body{
    background-image: url("/assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
p{
    font-size: 25px;
    color: black;
}
.pokemon-logo{
    text-align: center;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    height: 6vh;
    text-overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-copyright{
    font-size: medium;
    padding-right: 10vw;
}
.my-github{
    padding: 20vw;
}
.nintendo-copyright{
    font-size: small;
    width: 250px;
    padding-left: 10vw;
}
.pokemon-choices{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    min-height: 300px;
}
.charmander{
    padding: 10px;
    background-color: white;
    border-radius: 180px;
}
.bulbasaur{
    padding: 10px;
    background-color: white;
    border-radius: 180px;
}
.squirtle{
    padding: 10px;
    background-color: white;
    border-radius: 180px;
}
